<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Tomcat7</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdvisorProfileServlet</servlet-name>
    <servlet-class>org.AC.controller.AdvisorProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorProfileServlet</servlet-name>
    <url-pattern>/Tomact_7/AdvisorProfilePage?aId=*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordRedirectController</servlet-name>
    <servlet-class>org.AC.controller.ForgotPasswordURLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordRedirectController</servlet-name>
    <url-pattern>/ForgotPasswordAdvisor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvisorMyAccountRequest</servlet-name>
    <servlet-class>org.AC.controller.AdvisorMyAccountRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorMyAccountRequest</servlet-name>
    <url-pattern>/Tomact_7/requests.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserMyAccountRequest</servlet-name>
    <servlet-class>org.AC.controller.UserMyAccountRequestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserMyAccountRequest</servlet-name>
    <url-pattern>/Tomact_7/user_requests.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordRedirectControllerUser</servlet-name>
    <servlet-class>org.AC.controller.UserForgotPasswordURLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordRedirectControllerUser</servlet-name>
    <url-pattern>/ForgotPasswordUser</url-pattern>
  </servlet-mapping>
</web-app>