<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>AC</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AdvisorProfileServlet</servlet-name>
    <servlet-class>org.AC.controller.AdvisorProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvisorProfileServlet</servlet-name>
    <url-pattern>/AC/AdvisorProfilePage.jsp?aId=*</url-pattern>
  </servlet-mapping>
</web-app>